body{
 margin: auto;
 padding: auto;
 background-image: linear-gradient(rgba(100,57,40,0.5),rgba(40,57,100,0.8),rgba(30,120,80,0.7)),url(imges/border-images/border-imges.png);
}
.container{
    margin-bottom: 50px;
}
h1{
  
    text-align: center;
}
.box{
    width: 700px;
    height: 500px;
    /* background-color: rgb(191, 51, 35 ); */
    color: wheat;
    font-size: 30px;
    font-family: impact;
    display: flex;
    justify-content: center;
    align-items:center ;
    border: 4px solid;
    margin: 40px auto;
    animation-name: green;
    animation-duration:15s;
  animation-iteration-count: infinite;
  background-image: url(imges/border-images/border-imges.png);
  background-repeat: no-repeat;
  background-size: auto;

}
.box:hover{
    width: 500px;
    height: 500px;
    background-image: url(imges/group-images.png);
    border-radius: 50%;
    border-color: lime;
   
}
@keyframes green {
    50%{transform:rotatex(360deg); background-color:rgb(73, 73, 160);}
    100%{ transform: skewy(-20deg); background-color: yellow;}

}
.box-1 h2{
    width:100%;
    height:45px;
    background-color: rgb(2, 145, 57);
    animation-name:red;
    animation-duration: 10s;
    animation: linear  infinite;
    transform: translate(-50,-50);
  
}
@keyframes red {
     0%{transform: translate(0,0);}
    100%{transform: translate(-100,0);}
 }  
h1{
    animation-name: yellow;
    animation-duration:2.5s;
    animation-iteration-count: infinite;

}
@keyframes yellow {
         0%{color:mintcream}
        25%{color: rgb(233, 12, 12);}
        50%{color:rgb(35, 6, 178);}
        75%{color:rgb(5, 71, 126);}
        100%{color:green;}
}


.box-khan{
    width: 700px;
    height: 500px;
    color: rgb(57, 168, 81);
    font-size: 30px;
    font-family: impact;
    display: flex;
    justify-content: center;
    align-items:center ;
    border: 4px solid;
    margin: 40px auto;
    animation-name:tomato;
    animation-duration:15s;
  animation-iteration-count: infinite;
 
 
}


 @keyframes tomato {
    0%{ transform: rotate(360deg); background-image:linear-gradient(rgb(219, 113, 113), rgb(98, 137, 82))}
    50%{background-image: linear-gradient(rgb(138, 232, 138), rgb(215, 192, 90))}
    75%{background-image: linear-gradient(rgb(186, 180, 74), rgb(68, 169, 107))}
    100%{background-image: linear-gradient(rgb(177, 173, 106), rgb(96, 159, 120))}
 }